$main-background: #73C6B6 ;
$cont-color: #5DADE2;
$margin-div: 50px;

@mixin boxProps {
  border-radius:20px;
}

@mixin centerProps{
  margin: auto;
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
}

@mixin columnProps{
  display:flex;
  flex-direction: center;
  padding-top:20px;
}


body{
  background-color: darken($main-background,10%);}

.wellcome-cont{
  @include centerProps;
  @include boxProps;
  height: 60%;
  width: 30%;
  text-align: center;
  background-color: darken($cont-color, 30%);
  h1{
    margin-top: $margin-div;
    color:white;
    margin-bottom: $margin-div;
  }
}

.btnProps{
  margin-bottom: $margin-div;
}